In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv("Downloads/steam-video-games/steam-200k.csv")

In [3]:
df.head()

   151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0  151603712  The Elder Scrolls V Skyrim      play  273.0  0
1  151603712                   Fallout 4  purchase    1.0  0
2  151603712                   Fallout 4      play   87.0  0
3  151603712                       Spore  purchase    1.0  0
4  151603712                       Spore      play   14.9  0

In [4]:
l=df[df['purchase']=='play']

In [5]:
l.columns=['user_id','game_name','play','rating','zero']

In [6]:
l.drop(['play','zero'],axis=1,inplace=True)

D:\conda\anaconda\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [7]:
l.head()

     user_id                   game_name  rating
0  151603712  The Elder Scrolls V Skyrim   273.0
2  151603712                   Fallout 4    87.0
4  151603712                       Spore    14.9
6  151603712           Fallout New Vegas    12.1
8  151603712               Left 4 Dead 2     8.9

In [8]:
game_table=l.pivot_table(index='user_id',columns='game_name',values='rating')
game_table.head()

game_name,007 Legends,0RBITALIS,1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby),10 Second Ninja,"10,000,000",100% Orange Juice,1000 Amps,12 Labours of Hercules,12 Labours of Hercules II The Cretan Bull,12 Labours of Hercules III Girl Power,...,rFactor,rFactor 2,realMyst,realMyst Masterpiece Edition,resident evil 4 / biohazard 4,rymdkapsel,sZone-Online,the static speaks my name,theHunter,theHunter Primal
user_id,,,,,,,,,,,,,,,,,,,,,
5250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
l.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70489 entries, 0 to 199998
Data columns (total 3 columns):
user_id      70489 non-null int64
game_name    70489 non-null object
rating       70489 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ MB

In [10]:
ratings=pd.DataFrame(l.groupby('game_name')['rating'].mean())
ratings.head()

                                                    rating
game_name
007 Legends                                           0.70
0RBITALIS                                             0.40
1... 2... 3... KICK IT! (Drop That Beat Like an...    4.00
10 Second Ninja                                       2.95
10,000,000                                            3.60

In [11]:
ratings['num of ratings']=pd.DataFrame(l.groupby('game_name')['rating'].count())
ratings.max()

rating            1295.0
num of ratings    4841.0
dtype: float64

In [12]:
ratings.sort_values('num of ratings',ascending=False).head()

                                     rating  num of ratings
game_name
Dota 2                           202.785499            4841
Team Fortress 2                   74.762505            2323
Counter-Strike Global Offensive  234.402033            1377
Unturned                          15.057437            1069
Left 4 Dead 2                     41.943446             801

In [13]:
ratings.head()

                                                    rating  num of ratings
game_name
007 Legends                                           0.70               1
0RBITALIS                                             0.40               3
1... 2... 3... KICK IT! (Drop That Beat Like an...    4.00               5
10 Second Ninja                                       2.95               2
10,000,000                                            3.60               1

In [1]:
df.head()

NameError: name 'df' is not defined

In [15]:
fallout4_user_ratings=game_table['Fallout 4']
fallout4_user_ratings.head()

user_id
5250     NaN
76767    NaN
86540    NaN
144736   NaN
181212   NaN
Name: Fallout 4, dtype: float64

In [16]:
similar_to_fallout4=game_table.corrwith(fallout4_user_ratings)

D:\conda\anaconda\lib\site-packages\numpy\lib\function_base.py:2392: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
D:\conda\anaconda\lib\site-packages\numpy\lib\function_base.py:2326: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [17]:
similar_to_fallout4.head()

game_name
007 Legends                                                   NaN
0RBITALIS                                                    -1.0
1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby)    NaN
10 Second Ninja                                               1.0
10,000,000                                                    NaN
dtype: float64

In [18]:
corr_fallout4=pd.DataFrame(similar_to_fallout4,columns=['correlation'])
corr_fallout4.dropna(inplace=True)
corr_fallout4.head()

                   correlation
game_name
0RBITALIS            -1.000000
10 Second Ninja       1.000000
100% Orange Juice     0.998705
140                  -1.000000
3DMark               -0.122747

In [19]:
corr_fallout4.sort_values('correlation',ascending=False)

                                                    correlation
game_name
Tower of Guns                                               1.0
Shadow Warrior Classic Redux                                1.0
Saints Row Gat out of Hell                                  1.0
Giana Sisters Twisted Dreams                                1.0
Global Agenda                                               1.0
Gods Will Be Watching                                       1.0
Gothic 3                                                    1.0
Myst Masterpiece Edition                                    1.0
Gothic II Gold Edition                                      1.0
Double Dragon Neon                                          1.0
Velvet Sundown                                              1.0
Card Hunter                                                 1.0
Back to the Future Ep 4 - Double Visions                    1.0
Stronghold Crusader 2                                       1.0
Tomb Raider Legend                                          1.0
The Way of Life Free Edition                                1.0
NEKOPARA Vol. 1                                             1.0
Sherlock Holmes Nemesis                                     1.0
Valiant Hearts The Great War / Soldats Inconnus...          1.0
Marlow Briggs                                               1.0
Portal Stories Mel                                          1.0
Sherlock Holmes versus Jack the Ripper                      1.0
Auditorium                                                  1.0
Starbound - Unstable                                        1.0
MapleStory                                                  1.0
Evil Genius                                                 1.0
DUNGEONS - Steam Special Edition                            1.0
Valdis Story Abyssal City                                   1.0
Divinity II - Ego Draconis                                  1.0
Men of War                                                  1.0
...                                                         ...
Risen 3 - Titan Lords                                      -1.0
DYNASTY WARRIORS 8 Xtreme Legends Complete Edition         -1.0
D.I.P.R.I.P. Warm Up                                       -1.0
Cubemen 2                                                  -1.0
Cubemen                                                    -1.0
Town of Salem                                              -1.0
Rochard                                                    -1.0
The Showdown Effect                                        -1.0
Dungeons 2                                                 -1.0
Dwarfs!?                                                   -1.0
Sword of the Stars The Pit                                 -1.0
NEO Scavenger                                              -1.0
Tales from Space Mutant Blobs Attack                       -1.0
Football Manager 2012                                      -1.0
ROCKETSROCKETSROCKETS                                      -1.0
Teenage Mutant Ninja Turtles Out of the Shadows            -1.0
Fancy Skulls                                               -1.0
The Bard's Tale                                            -1.0
S.T.A.L.K.E.R. Clear Sky                                   -1.0
Nail'd                                                     -1.0
F1 2015                                                    -1.0
F1 2013                                                    -1.0
EverQuest Free-to-Play                                     -1.0
Eufloria                                                   -1.0
Eternal Silence                                            -1.0
Estranged Act I                                            -1.0
Nexuiz                                                     -1.0
Nexus The Jupiter Incident                                 -1.0
Edge of Space                                              -1.0
0RBITALIS                                                  -1.0

[1141 rows x 1 columns]

In [20]:
corr_fallout4=corr_fallout4.join(ratings['num of ratings'])
corr_fallout4.head()

                   correlation  num of ratings
game_name
0RBITALIS            -1.000000               3
10 Second Ninja       1.000000               2
100% Orange Juice     0.998705               9
140                  -1.000000               5
3DMark               -0.122747              18

In [21]:
corr_fallout4[corr_fallout4['num of ratings']>100].sort_values('correlation',ascending=False)

                                                   correlation  num of ratings
game_name
Fallout 4                                             1.000000             167
Borderlands                                           0.903875             146
Mafia II                                              0.854829             116
Call of Duty Modern Warfare 3                         0.853759             211
Tom Clancy's Ghost Recon Phantoms - NA                0.633846             133
TERA                                                  0.627044             118
Dead Island Epidemic                                  0.569227             127
Batman Arkham Asylum GOTY Edition                     0.550289             110
Grand Theft Auto V                                    0.532644             269
The Walking Dead                                      0.527372             111
Call of Duty Black Ops II - Multiplayer               0.526871             151
Fallout 3 - Game of the Year Edition                  0.521220             102
DC Universe Online                                    0.495696             154
Call of Duty Modern Warfare 2                         0.474023             297
Empire Total War                                      0.466677             214
Napoleon Total War                                    0.437746             135
Dota 2                                                0.432492            4841
Serious Sam HD The Second Encounter                   0.414233             113
Rising Storm/Red Orchestra 2 Multiplayer              0.368921             119
Far Cry 3                                             0.357366             181
Trine 2                                               0.352811             131
Counter-Strike Nexon Zombies                          0.341868             184
Starbound                                             0.331985             132
The Witcher Enhanced Edition                          0.330104             120
BioShock                                              0.329730             143
Call of Duty Black Ops                                0.318319             227
The Witcher 2 Assassins of Kings Enhanced Edition     0.276160             170
Star Wars - Battlefront II                            0.272583             111
Call of Duty Modern Warfare 3 - Multiplayer           0.270671             196
Path of Exile                                         0.263622             191
...                                                        ...             ...
Half-Life 2                                          -0.111392             356
Warface                                              -0.120627             167
H1Z1                                                 -0.132911             137
Don't Starve Together Beta                           -0.147856             150
AdVenture Capitalist                                 -0.148005             141
Neverwinter                                          -0.161541             136
Battlefield Bad Company 2                            -0.161783             111
Saints Row The Third                                 -0.168257             197
Half-Life 2 Lost Coast                               -0.168427             177
Heroes & Generals                                    -0.174914             335
Sniper Elite V2                                      -0.182635             177
Call of Duty Black Ops II                            -0.200600             113
Dark Souls Prepare to Die Edition                    -0.207834             110
Age of Empires II HD Edition                         -0.212545             200
Arma 2 Operation Arrowhead                           -0.216339             189
Counter-Strike Global Offensive                      -0.218975            1377
Unturned                                             -0.226209            1069
Alien Swarm                                          -0.234478             289
Counter-Strike                                       -0.253422             568
Rocket League                                        -0.257778             149
FTL Faster Than Light                                -0.264865             126
Torchlight II                                        -0.269708             204
Batman Arkham City GOTY                              -0.319176             109
Cities Skylines                                      -0.323995             115
Call of Duty Black Ops II - Zombies                  -0.336963             115
Clicker Heroes                                       -0.368580             144
Magicka Wizard Wars                                  -0.575948             115
HAWKEN                                               -0.613691             110
Marvel Heroes 2015                                   -0.633283             111
Football Manager 2013                                -0.693241             104

[132 rows x 2 columns]

In [22]:
game_table[game_table.columns[:][0]=='p']

KeyError: False

In [ ]:
for i in game_table.columns:
    if i[0]=='P':
        print(i)